.container {
    min-height: 100vh;
    background-color: #9CD5FF;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #0f1f3a;
    padding: 1rem 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 50px;
    width: auto;
    max-width: 200px;
}

.content {
    flex: 1;
    padding: 2rem;
    color: #355872;
}

.title {
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #355872;
    margin-bottom: 1rem;
}

.description {
    font-size: 1rem;
    line-height: 1.6;
    color: #355872;
    background-color: #9CD5FF;
}

/* Translation page additions */
.container {
    padding: 24px;
    font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    
}

.controlsRow {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 12px;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    size: fill;
}

.label {
    display: block;
    margin-bottom: 6px;
    font-size: 18px;
    color: #355872;
    padding: 4px;
    border-radius: 5px;
    text-align: center;
}

.select {
    padding: 6px 8px;
    font-size: 18px;
    color: #355872;
    color: #F7F8F0;
    background-color: #355872;
    padding: 4px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 8px;
}

.actions {
    display: flex;
    gap: 8px;
}

.button {
    padding: 8px 12px;
    border-radius: 6px;
    background: #355872;
    cursor: pointer;
}

.buttonPrimary {
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    background: #355872;
    cursor: pointer;
}

.textareas {
    display: flex;
    gap: 12px;
    min-width: 400px;
}

.textarea {
    flex: 1;
    min-height: 220px;
    padding: 12px;
    font-size: 14px;
    line-height: 1.4;
    background: #7AAACE;
    border-width: 3px;
    border-style: solid;
    border-radius: 25px;
    border-color: #355872;
}

.textareaTranslated {
    flex: 1;
    min-height: 220px;
    padding: 12px;
    font-size: 16px;
    line-height: 1.4;
    background: #7AAACE;
    border-width: 3px;
    border-style: solid;
    border-radius: 25px;
    border-color: #355872;
}

.error {
    margin-top: 12px;
    color: rgb(80, 3, 3);
}