DEEPL_API_KEY=your_deepl_key

DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=your-neon-host
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_DATABASE=your-db
DB_POSTGRESDB_USER=your-user
DB_POSTGRESDB_PASSWORD=your-password
DB_POSTGRESDB_SSL=true
