project_id  = "polycloudops"
region      = "europe-west1"
zone        = "europe-west1-b"
environment = "staging"

# Artifact Registry configuration (optional)
# artifact_registry_repository_id = "n8n-repo"
# artifact_registry_description   = "Docker repository for n8n custom images"

cloudrun_service_name = "n8n-service"
cloudrun_image        = "n8nio/n8n:2.10.4"

cloudrun_cpu            = "1"
cloudrun_memory         = "1Gi"
cloudrun_min_instances  = 1
cloudrun_max_instances  = 10
cloudrun_concurrency    = 80
cloudrun_timeout        = 300
cloudrun_cpu_throttling = true

cloudrun_allow_unauthenticated = true

n8n_port               = 5678
n8n_timezone           = "Europe/Paris"
n8n_protocol           = "https"
n8n_executions_process = "main"
n8n_admin_email        = "admin@cloudops.com"
n8n_admin_password     = "CHANGE_ME"


secret_n8n_encryption_key   = "n8n-encryption-key"
secret_db_connection_string = "n8n-db-connection-string"
secret_deepl_api_key        = "deepl-api-key"

create_storage_bucket = false
storage_bucket_name   = "polycloudops-n8n-storage"
